<div class="row" ng-hide="editMode">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/releasetrains">Release Trains</a></li>
        <li class="breadcrumb-item"><a href="#/releasetrain/{{ team.rt_id }}">{{ team.releasetrain }}</a></li>
        <li class="breadcrumb-item selected">New Team</li>
    </ol>
</div>
<div class="row" ng-hide="team.id">
    <div class="col-xs-12">
        <h3>New <code>Team</code></h3>
    </div>
</div>
<div class="row">
    <form name="frm" novalidate>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" class="form-control" placeholder="name" ng-model="team.name" ng-value="team.name" ng-minlength="2" required>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="rt_id">Release Train</label>
                <select id="rt_id" name="rt_id" class="form-control" ng-model="team.rt_id" ng-options="rt.id as rt.name for rt in releasetrains | orderBy: 'name'" required>
                    <option value="" selected="selected">-- Choose one --</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <span ng-hide="team.id == null"><a class="btn btn-padded-sm btn-md btn-default" ng-click=toggleEdit(false)><i class="fa fa-arrow-left"></i> Back</a></span>
                <span ng-hide="team.id !== null"><a class="btn btn-padded-sm btn-md btn-default" href="#/releasetrain/{{ team.rt_id }}"><i class="fa fa-arrow-left"></i> Back</a></span>
                <button class="btn btn-padded-sm btn-md btn-primary" ng-click="save(team)" ng-disabled="!frm.$valid">Save</button>
            </div>
        </div>
    </form>
</div>