<div class="row" ng-hide="editMode">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/locations">Locations</a></li>
        <li class="breadcrumb-item selected">New Location</li>
    </ol>
</div>
<div class="row" ng-hide="location.id">
    <div class="col-xs-12">
        <h3>New <code>Location</code></h3>
    </div>
</div>
<form name="frm" novalidate>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" name="name" placeholder="name" class="form-control" type="text" ng-model="location.name" ng-value="location.name" ng-minlength="2" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-padded-sm btn-md btn-default" ng-click="toggleEdit(false)"><i class="fa fa-arrow-left"></i> Back</button>
            <button class="btn btn-padded-sm btn-md btn-primary" ng-click="save(location)" ng-disabled="!frm.$valid"><i class="fa fa-save"></i> Save</button>
        </div>
    </div>
</form>